.container {
  display: flex;
  justify-content: center;
  //align-items: center;
  height: 100vh;
  width: 100%;
  background-size: 300% 300%;
  background-image: linear-gradient(
                  -45deg,
                  rgba(59,173,227,1) 0%,
                  rgba(87,111,230,1) 25%,
                  rgba(152,68,183,1) 51%,
                  rgba(255,53,127,1) 100%
  );
  animation: BGAnimate 20s ease infinite;
}

@keyframes BGAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


//.centered-div {
//  //position: absolute;
//  //top: 0;
//  //bottom: 0;
//  //left: 0;
//  //right: 0;
//  //margin: auto;
//  height: 1500px;
//  width: 500px;
//  background-color: red;
//  /* 在此处设置要居中的div的宽度、高度、背景色等样式 */
//}

